<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="OnlineUsername" value="" />
    <add key="OnlinePassword" value="" />
    <!-- Maker Portal URL (https://make.powerapps.com , https://make.preview.powerapps.com) -->
    <add key="OnlineUrl" value="" />
    <!-- TestSuite or TestCase URL -->
    <add key="TestFrameworkUrl" value="" />
    <!-- Path for browser driver -->
    <add key="DriversPath" value="" />
    <add key="UsePrivateMode" value="true" />
    <!-- IE,Chrome,Firefox,Edge-->
    <add key="BrowserType" value="Chrome"/>
    <add key="AzureKey" value="" />
  </appSettings>
</configuration>
